{% extends 'base.html' %}
{% load static %}

{% block title %}
Forgot
{% endblock %}

{% block more_css %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-5 m-auto my-5">
            <form action="{% url 'forgot_password' %}" method="POST">
                {% csrf_token %}
                <h1>Forgot Password</h1>
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1">
                </div>
                <p class="text-danger">{{ err_msg }}</p>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}